In [32]:
import pandas as pd

In [33]:
df = pd.read_csv('archive/Twitch_global_data.csv')

In [34]:
df

,year,Month,Hours_watched,Avg_viewers,Peak_viewers,Streams,Avg_channels,Games_streamed
0,2016,1,480241904,646355,1275257,7701675,20076,"12,149"
1,2016,2,441859897,635769,1308032,7038520,20427,"12,134"
2,2016,3,490669308,660389,1591551,7390957,20271,"12,234"
3,2016,4,377975447,525696,1775120,6869719,16791,"12,282"
4,2016,5,449836631,605432,1438962,7535519,19394,"12,424"
...,...,...,...,...,...,...,...,...
65,2021,6,1963630266,2731057,5746730,20285356,101892,"36,099"
66,2021,7,1953900874,2629745,4396750,21055358,101755,"36,319"
67,2021,8,1974586275,2657585,4778502,20767741,100701,"36,471"
68,2021,9,1857514531,2583469,5599210,18826493,95513,"35,861"
69,2021,10,2020197953,2718974,6086487,18209793,91858,"36,406"

In [5]:
df = df.reset_index()

In [6]:
df['index'] = df['index'].copy() +1

In [30]:
df.to_csv('twitch_tot.csv')

In [9]:
df['day'] = 1
df['Datetime'] = pd.to_datetime(df[['year','Month','day']])

In [10]:
df

,index,year,Month,Hours_watched,Avg_viewers,Peak_viewers,Streams,Avg_channels,Games_streamed,day,Datetime
0,1,2016,1,480241904,646355,1275257,7701675,20076,"12,149",1,2016-01-01
1,2,2016,2,441859897,635769,1308032,7038520,20427,"12,134",1,2016-02-01
2,3,2016,3,490669308,660389,1591551,7390957,20271,"12,234",1,2016-03-01
3,4,2016,4,377975447,525696,1775120,6869719,16791,"12,282",1,2016-04-01
4,5,2016,5,449836631,605432,1438962,7535519,19394,"12,424",1,2016-05-01
...,...,...,...,...,...,...,...,...,...,...,...
65,66,2021,6,1963630266,2731057,5746730,20285356,101892,"36,099",1,2021-06-01
66,67,2021,7,1953900874,2629745,4396750,21055358,101755,"36,319",1,2021-07-01
67,68,2021,8,1974586275,2657585,4778502,20767741,100701,"36,471",1,2021-08-01
68,69,2021,9,1857514531,2583469,5599210,18826493,95513,"35,861",1,2021-09-01
69,70,2021,10,2020197953,2718974,6086487,18209793,91858,"36,406",1,2021-10-01

In [35]:
df2 = pd.read_csv('archive/Twitch_game_data.csv')

In [36]:
df2

,Rank,Game,Month,Year,Hours_watched,Hours_Streamed,Peak_viewers,Peak_channels,Streamers,Avg_viewers,Avg_channels,Avg_viewer_ratio
0,1,League of Legends,1,2016,94377226,1362044 hours,530270,2903,129172,127021,1833,69.29
1,2,Counter-Strike: Global Offensive,1,2016,47832863,830105 hours,372654,2197,120849,64378,1117,57.62
2,3,Dota 2,1,2016,45185893,433397 hours,315083,1100,44074,60815,583,104.26
3,4,Hearthstone,1,2016,39936159,235903 hours,131357,517,36170,53749,317,169.29
4,5,Call of Duty: Black Ops III,1,2016,16153057,1151578 hours,71639,3620,214054,21740,1549,14.03
...,...,...,...,...,...,...,...,...,...,...,...,...
13995,196,Battlefield V,10,2021,657132,95847 hours,20899,283,13189,884,129,6.86
13996,197,Naraka: Bladepoint,10,2021,655856,34220 hours,10748,125,2959,882,46,19.17
13997,198,Hearts of Iron IV,10,2021,655665,14621 hours,9832,60,1503,882,19,44.84
13998,199,RISK: The Game of Global Domination,10,2021,648689,68 hours,92496,2,18,873,0,9539.54
13999,200,Bloodborne,10,2021,643461,61119 hours,10737,177,6698,866,82,10.53

In [40]:
pd.options.mode.chained_assignment = None

In [44]:
df_av_top = 0
df_av_top = df2[['Month','Year']].drop_duplicates().copy()
df_av_top.reset_index(inplace=True)

df_av_top['Day'] = 1
df_av_top['Datetime'] = pd.to_datetime(df_av_top[['Year','Month','Day']])


top10 = df2[df2['Rank']<6].copy()
llista_top5 = list(top10['Game'].unique())

for joc in llista_top5:
    df_av_top[joc] = 0
    aux = list(df2[df2['Game'] == joc]['Avg_viewers'].copy())
    for i in range(len(aux)):
        df_av_top[joc].iloc[70-i-1] = aux[-i-1]

In [45]:
df_av_top

,index,Month,Year,Day,Datetime,League of Legends,Counter-Strike: Global Offensive,Dota 2,Hearthstone,Call of Duty: Black Ops III,...,Grand Theft Auto V,Teamfight Tactics,Escape From Tarkov,Call of Duty: Warzone,VALORANT,Fall Guys: Ultimate Knockout,Among Us,Minecraft,Rust,New World
0,0,1,2016,1,2016-01-01,127021,64378,60815,53749,0,...,5402,0,0,0,0,0,0,13769,1811,0
1,200,2,2016,1,2016-02-01,134035,64652,59243,57528,0,...,4627,0,0,0,0,0,0,12899,2107,0
2,400,3,2016,1,2016-03-01,127206,96854,57288,52853,0,...,3587,0,0,0,0,0,0,13500,2248,0
3,600,4,2016,1,2016-04-01,122933,99754,59375,57659,0,...,3300,0,0,0,0,0,0,10577,2062,0
4,800,5,2016,1,2016-05-01,108585,60407,63009,66588,0,...,4122,0,0,0,0,0,0,9217,2210,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,13000,6,2021,1,2021-06-01,205277,76958,86670,22638,803,...,237277,16745,19842,117611,112074,5403,10039,100647,10511,2088
66,13200,7,2021,1,2021-07-01,180839,78948,57253,24963,811,...,191842,11840,22575,96624,108856,6533,5829,72172,39870,47415
67,13400,8,2021,1,2021-08-01,185912,67055,57492,31483,1079,...,194561,14854,76799,81715,104341,14154,7600,102214,11034,4476
68,13600,9,2021,1,2021-09-01,149383,85582,48410,33752,1904,...,201009,12606,149189,74992,128502,7923,6542,106416,22455,56289
69,13800,10,2021,1,2021-10-01,280719,94455,132995,26522,888,...,184299,12647,54732,68614,86358,5629,5281,91009,7596,117556

In [46]:
df_av_top.to_csv('top5_joc.csv')

In [160]:
df2.groupby('Game')['Avg_viewers'].mean()

Game
.hack//G.U. Last Recode         202.000000
60 Parsecs!                     736.000000
60 Seconds!                     424.888889
7 Days to Die                  1154.457143
<U+014C>kami                    244.000000
                                  ...
osu!                           1363.514286
rFactor 2                       897.000000
skribbl.io                      882.428571
some some convenience store     461.000000
theHunter: Call of the Wild     387.666667
Name: Avg_viewers, Length: 1760, dtype: float64

In [18]:
topor = df2.groupby(['Game','Year'])['Avg_viewers'].mean().reset_index(name='Avg_viewers')
topor = topor.sort_values(by=['Year', 'Avg_viewers'])

top10_any = pd.DataFrame(columns=list(topor.columns))

for any in set(topor['Year']):
    top10_any = top10_any.append(topor[topor['Year'] == any].tail(10), ignore_index=True)
    
topor2 = df.groupby('year')['Avg_viewers'].mean().reset_index(name='Avg_viewers')
topor2.rename(columns = {'year':'Year','Avg_viewers':'Avg_viewers', 'Game':'Game'}, inplace = True)
topor2['Game'] = 'Resta'

for any in set(topor['Year']):
    topor2['Avg_viewers'].iloc[any - 2016] -= sum(top10_any[top10_any['Year']==any]['Avg_viewers'])
    top10_any = top10_any.append(topor2[topor2['Year'] == any], ignore_index=True)

top10_any =  top10_any.round(0)
top10_any['Avg_viewers'] = top10_any['Avg_viewers'].astype(int)

In [19]:
top10_any.to_csv('top10_anys.csv')

top10_any

                           Game  Year  Avg_viewers
0             Z1: Battle Royale  2016        10012
1                     Minecraft  2016        10150
2   Call of Duty: Black Ops III  2016        14186
3             World of Warcraft  2016        17037
4                       E3 2016  2016        18866
..                          ...   ...          ...
61                        Resta  2017       310717
62                        Resta  2018       441755
63                        Resta  2019       587534
64                        Resta  2020       991893
65                        Resta  2021      1330445

[66 rows x 3 columns]

In [20]:


topor2

   Year   Avg_viewers   Game
0  2016  2.195659e+05  Resta
1  2017  3.107174e+05  Resta
2  2018  4.417549e+05  Resta
3  2019  5.875339e+05  Resta
4  2020  9.918934e+05  Resta
5  2021  1.330445e+06  Resta

In [28]:
df_2021 = df2[df2['Year']==2021]

top50_2021 = df_2021.groupby(['Game'])[['Avg_viewers','Avg_channels','Peak_viewers']].mean()
top50_2021.reset_index(inplace = True)

df_definitiu = top50_2021.sort_values('Avg_viewers').tail(50)

In [30]:
categoria = ['Survival', 'Shooter', 'Non Gaming', 'Shooter','Shooter','MMORPG','Survival','Shooter','Battle Royale',
             'Sports','Non Gaming','Shooter','Non Gaming', 'Non Gaming','Survival','Shooter','ARPG','Battle Royale',
             'MMORPG','Non Gaming','ARPG','Multiplayer','Non Gaming', 'Auto Battler','MMORPG','Shooter', 'Battle Royale',
             'Sports','Shooter','Shooter','Card Game','Non Gaming', 'Non Gaming','Survival','Sports','MMORPG','Survival',
             'MMORPG','Sports','MOBA','Battle Royale','Shooter','Shooter','Survival','Shooter','Shooter','Battle Royale',
             'MOBA','Survival','Non Gaming'
            ]

df_definitiu['Categoria'] = categoria

df_definitiu

,Game,Avg_viewers,Avg_channels,Peak_viewers,Categoria
3,ARK: Survival Evolved,8805.500000,453.750000,1.338030e+05,Survival
43,Call of Duty: Black Ops Cold War,9231.900000,1374.900000,6.647480e+04,Shooter
375,Talk Shows & Podcasts,9522.200000,243.300000,1.370512e+05,Non Gaming
79,Destiny 2,10691.700000,901.000000,8.848550e+04,Shooter
26,Battlefield 2042,10956.000000,312.000000,3.369660e+05,Shooter
194,LOST ARK,11854.400000,186.000000,6.068720e+04,MMORPG
422,Valheim,12264.142857,705.857143,8.532057e+04,Survival
41,Call Of Duty: Modern Warfare,12353.400000,5249.400000,4.510750e+04,Shooter
135,Garena Free Fire,12507.400000,406.800000,1.454107e+05,Battle Royale
247,NBA 2K22,13932.500000,928.500000,9.999550e+04,Sports
4,ASMR,14070.700000,164.200000,3.800720e+04,Non Gaming
117,Far Cry 6,14325.000000,544.000000,2.150610e+05,Shooter
19,Art,14391.500000,847.100000,4.959110e+04,Non Gaming
340,Special Events,15076.400000,62.400000,7.885833e+05,Non Gaming
313,Resident Evil Village,15706.400000,562.200000,1.509070e+05,Survival
270,Overwatch,15822.300000,995.200000,6.323640e+04,Shooter
277,Path of Exile,15910.600000,291.900000,1.289309e+05,ARPG
275,PUBG: BATTLEGROUNDS,16119.000000,718.400000,1.157156e+05,Battle Royale
121,Final Fantasy XIV Online,16783.166667,666.166667,1.154142e+05,MMORPG
49,Chess,16842.500000,110.100000,1.592114e+05,Non Gaming
83,Diablo II: Resurrected,17058.000000,297.750000,2.927740e+05,ARPG
13,Among Us,17147.700000,351.500000,2.528875e+05,Multiplayer
343,Sports,17355.300000,116.300000,4.161010e+05,Non Gaming
377,Teamfight Tactics,17776.100000,331.900000,7.149730e+04,Auto Battler
140,Genshin Impact,18584.800000,976.800000,2.412299e+05,MMORPG
25,Back 4 Blood,20261.500000,680.500000,3.256125e+05,Shooter
273,PLAYERUNKNOWN'S BATTLEGROUNDS,20818.000000,882.400000,1.305072e+05,Battle Royale
321,Rocket League,23928.600000,1454.100000,1.571704e+05,Sports
405,Tom Clancy's Rainbow Six Siege,24587.700000,1235.500000,1.269777e+05,Shooter
104,Escape from Tarkov,28645.250000,1059.875000,1.361611e+05,Shooter
166,Hearthstone,29232.000000,240.000000,8.685180e+04,Card Game
243,Music,32207.500000,1263.900000,1.399161e+05,Non Gaming
336,Slots,33172.600000,152.800000,1.311343e+05,Non Gaming
75,Dead by Daylight,34156.200000,1926.900000,1.253077e+05,Survival
111,FIFA 21,37873.555556,1026.000000,2.528302e+05,Sports
435,World of Warcraft,44094.300000,1675.700000,1.726810e+05,MMORPG
325,Rust,48158.300000,588.200000,2.958646e+05,Survival
253,New World,56434.000000,1434.500000,5.691055e+05,MMORPG
112,FIFA 22,63075.000000,954.500000,4.386975e+05,Sports
89,Dota 2,68270.500000,932.600000,4.040914e+05,MOBA
16,Apex Legends,80187.000000,5155.800000,2.570791e+05,Battle Royale
57,Counter-Strike: Global Offensive,88238.600000,1784.800000,5.446893e+05,Shooter
103,Escape From Tarkov,101960.500000,1920.000000,2.822100e+05,Shooter
233,Minecraft,103527.000000,3974.400000,7.810063e+05,Survival
46,Call of Duty: Warzone,104828.800000,4205.000000,5.311417e+05,Shooter
420,VALORANT,109016.700000,4324.900000,4.221417e+05,Shooter
128,Fortnite,116872.200000,7523.900000,6.150400e+05,Battle Royale
195,League of Legends,211000.800000,4548.000000,9.545942e+05,MOBA
151,Grand Theft Auto V,223640.100000,2987.600000,6.314807e+05,Survival
187,Just Chatting,345767.800000,4497.400000,1.096658e+06,Non Gaming

In [31]:
df_definitiu.to_csv('2021_top50.csv')